body{
	background-color: yellow;

}
input
{
	width: 200px ;
	height: 10px;
	border: 1px;
	border border-radius: 2px;
	padding: 8px 15px 8px 15px;
	margin: 10px 0px 15px 0px;
	box-shadow: 2px 1px gray;
	
}
button{
	height: 30px;
	border: 1px;
	background-color: white;
	color: black;
}
button:hover
{
	background-color: green;
}